{% extends "templates/base.html" %}
{% block title %} {{ _("Pragati Cab Vehicles") }} {% endblock %}
{% block content %}

<div class="container">
    <h2>
        {{ _("Pragati cabs Vehicals") }}
    </h2>
    <div class="mt-28">
        {% for vehical in vehicals %}
            <div class="mt-8">
                <h5> {{ vehical.make }} </h5>
                <div> {{ _("Model") }}; {{ vehical.model }} {{ _("purchased in year") }}; <b>
                    {{ vehical.year }}
                </b></div>
            </div>
        {% endfor %}

    </div>

    <a class="btn btn-primary btn-nd mt-8" href="ride-order/new">
        {{ _("Book a Ride") }}
    </a>

</div>

{% endblock %}